/* Mulai code Anda dari baris terakhir */

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}
.clear {
  clear: left;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
/*dibawah ini bagian u/ header*/
header {
  height: 65px;
  width: 100%;
  background-color: rgba(85, 107, 47, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
  color: white;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
/*dibawah ini bagian u/ about*/
.about {
  padding: 180px 0 100px 0;
  background-image: url(https://images.unsplash.com/photo-1468408908883-029a25e230c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1059&q=80);
  background-size: cover;
  color: #fff;
  text-align: center;
}

.about h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.about p {
  margin-bottom: 3px;
  font-size: 20px;
  text-align: center;
}

/* dibawah kode bagian product */
.article {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}
.heading h3{
  font-weight: normal;
  font-size: 20px;
  margin-top: 50px;
}
/* dibawah kode bagian product */
.product {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  background-color: #f7f7f7;
}
.container1 {
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 60%;
  height: 0;
  padding-bottom: 30%;
  background: #708090;
}
.slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
} 
.slide-img img {
  width: 75%;
  height: 100%;
}
#i1, #i2, #i3 {
  display: none;
}
.pre, .nxt {
  width: 12%;
  height: 100%;
  position: absolute;
  top:0;
  background: rgba(88,88,88,0.3);
  z-index: 99;
  cursor: pointer;
}
.pre {
  left: 0;
}
.nxt {
  right: 0;
}
.nav {
  width: 100%;
  height: 11px;
  bottom: 12%;
  position: absolute;
  text-align: center;
  z-index: 99;
}
.dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background: rgba(0,0,0,0.4);
}
.slide-img {
  z-index: -1;
}
#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three {
  z-index: 9;
}
#i1:checked ~ .nav #dot1,
#i2:checked ~ .nav #dot2,
#i3:checked ~ .nav #dot3 {
  background: #00ff00;
}

/* dibawah kode bagian testimoni */
.testimony {
  background-color: #f7f7f7;
}
.testimony h2 {
  text-align: center;
  margin-bottom: 30px;
}
.testi-icon img {
  width: 500px;
  height: 250px;
  margin-left: 30px;
  align-content: center;
}
/* dibawah kode bagian footer */
footer h2 {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgba(85, 107, 47, 0.9)
}
